# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Publish artifacts
publish/
nupkg/

# Visual Studio cache/options
.vs/

# Visual Studio Code
.vscode/
*.code-workspace

# Rider
.idea/
.idea_modules/
*.sln.iml

# ReSharper
_ReSharper*/
*.DotSettings.user

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nuspec
*.nupkg
*.snupkg

# Local environment
.env
.env.local
